* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: -apple-system, Segoe UI, Helvetica Neue, Helvetica, 微软雅黑, sans-serif;
}

#todo {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

#listview,
#detailview {
    width: 280px;
}

#listview {
    border-right: 1px solid rgba(206, 197, 197, 0.5);
}
#listview ul {
    list-style-type: none;
    padding: 10px;
}
#listview .list-item {
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}
#listview .list-item:hover {
    background-color: rgba(206, 197, 197, 0.5);
}
#add-new-list {
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    cursor: pointer;
    color: blue;
}
#add-new-list:hover {
    background-color: rgba(206, 197, 197, 0.5);
}
#add-new-item {
    margin: 0 20px;
    padding: 10px 0;
    height: 60px;
    display: flex;
    border-bottom: 1px solid rgba(206, 197, 197, 0.5);
}
#add-new-item #input-area {
    border: none;
    flex: 10 1 100px;
}
#add-new-item #close-button {
    flex: 0 1 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#add-new-item #add-button {
    flex: 0 1 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#areaview {
    width: calc(100% - 280px);
}
#areaview.shrink {
    width: calc(100% - 280px - 280px);
}
#areaview-head {
    height: 200px;
    border-bottom: 1px solid rgba(206, 197, 197, 0.5);
}
#areaview-content > ul {
    margin: 0 20px;
}
#areaview .todo-item {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid rgba(206, 197, 197, 0.5);
}
#detailview.disappear {
    width: 0;
}
.hide {
    display: none !important;
}