* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 0;
}
#todo-list,
#todo-area,
#todo-detail {
    display: inline-block;
    font-size: 14px;
    font-family: 'Segoe UI', 微软雅黑, sans-serif;
    position: relative;
}
#todo-list {
    width: 280px;
    height: 100vh;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    float: left;
}
#todo-area {
    width: calc(100% - 280px);
    height: 100vh;
    clear: both;
}
#todo-area.shrink {
    width: calc(100% - 280px - 280px);
}
#todo-detail {
    width: 280px;
    height: 100vh;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    float: right;
    background-color: rgba(196, 195, 195, 0.2);
    overflow: hidden;
}
.hide {
    display: none !important;
}

#todo-area-header {
    height: 150px;
    padding: 10px;
    position: relative;
    background: lightgreen;
    font-size: 2.2em;
}
#todo-area-header-name {
    font-weight: normal;
    font-size: 1em;
    position: absolute;
    left: 10px;
    bottom: 10px;
}
#todo-area-list {
    padding: 10px;
    height: calc(100vh - 150px);
    overflow: hidden;
    font-size: 1em;
}
#todo-area-list ul {
    font-size: 1em;
    list-style-type: none;
}

#todo-area-list .list-item {
    font-size: 1em;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
#todo-area-list .list-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
#todo-area-list .list-item p {
    font-size: 1.2em;
    display: inline-block;
}
#todo-area-list #todo-area-add-area {
    font-size: 1em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    height: 60px;
    line-height: 60px;
    clear: both;
}
#todo-area-list .todo-area-add:hover {
    color: gray;
}
#todo-area-list #todo-area-add-area > * {
    float: left;
}
#todo-area-list #todo-area-add-area .todo-area-add {
    border: none;
    width: 90%;
    padding: 20px 0;
    font-size: 1em;
}
#todo-area-add-area .todo-area-closebutton,
#todo-area-add-area .todo-area-addbutton {
    font-size: 1em;
    width: 5%;
    height: 100%;
    text-align: center;
    cursor: pointer;
}

#todo-detail .todo-detail-title {
    font-size: 2em;
    padding: 20px;
    background-color: white;
}
#todo-detail .todo-detail-title p {
    font-size: 1em;
}
#todo-detail .todo-detail-nav {
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
    font-size: 1em;
    clear: both;
}
#todo-detail .todo-detail-nav > span {
    float: left;
    height: 100%;
}
#todo-detail .todo-detail-nav .todo-detail-view-closebutton {
    font-size: 1.5em;
    text-align: center;
    width: 30px;
    cursor: pointer;
}
#todo-detail .todo-detail-nav .todo-detail-view-closebutton:hover,
#todo-detail .todo-detail-nav .todo-delete-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
#todo-detail .todo-detail-nav .todo-create-time {
    text-align: center;
    line-height: 30px;
    width: calc(100% - 60px);
    font-size: 1em;
}
#todo-detail .todo-detail-nav .todo-delete-button {
    font-size: 1.5em;
    text-align: center;
    width: 30px;
    cursor: pointer;
}